* {box-sizing: border-box;}
body{
    margin:0;
}
.social_media_header{
    background-color: lightcoral;
    margin:0 auto;
   overflow-x: hidden;
    width:100%;
   padding: 0 5em;
   overflow: hidden;
   text-align: right;
    
}
.social_media_header a .media_icon{
    padding-right: 5px;
}


.navigation-header{
    position:-webkit-sticky;
    position:sticky;
    top:0;
    /*overflow:hidden;*/
    background-color: #f1f1f1;
    padding: 0 3em;
    
    
}

.logo-img{
    width: 100px;
    height: 100px;
}
.navigation-header-right{
    float: right;
    
    
    font-size:1.5em;
    
    position: relative;
    bottom: 70px;
    
}
.navigation-header-right .nav-links{
    text-decoration: none;
    color: lightcoral;
    
}
.navigation-header-right .nav-links .link-text{
    margin-right: 2em;
    
     
 }
.centered{
    padding:0 0;
    width:80%;
    max-width: 1024px;
   overflow: hidden;
   margin: 0 auto;

    
}
.centered .masonry{
    
    column-gap: 30px;
    text-align: center;
   /* margin:1.5em auto;*/
    
}
.centered .masonry .item{
    display: inline-block; /* Fix the misalignment of items */
    vertical-align: top; /* Keep the item on the very top */
    max-width: 200px;
    border: gray;
    border-style: solid;
    border-width: thin;
    margin:.5em 0;

}
.centered .masonry .item img{
    width: 100%;
    

    
}
@media only screen and(max-width: 499px){
    .masonry{
        column-count: 1;
    }
}
@media only screen and (min-width:500px) and (max-width: 767px){
    .masonry{
        column-count: 2;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
    .masonry {
        column-count: 3;
      }
    }

@media only screen and (min-width: 1024px){
.masonry{
    column-count: 4;
}
}
.masonry .item:hover img {
opacity: .75;
}
.masonry .item img {
transition: all .5s ease-in-out;
backface-visibility: hidden; /* Remove Image flickering on hover */
}


@media only screen and (max-width:819px){
.navigation-header{
    
    position:-webkit-sticky;
    position:sticky;
    top:0;
    /*overflow:hidden;*/
    background-color: #f1f1f1;
    padding: 0 5em;
    
    
}

.logo-img{
    width: 100px;
    height: 100px;
}
.nav-btn{
   
    margin-top:40px;
    width:50px;
    height:50px;
    background-color: cadetblue;
    float:right;
    display:block;
    
}
.btn{
    border-top-color:black ;
    border-top-style: solid;
    border-top-width: 2px;
    width: 80%;
    height: 10px;
    display: block;
    position: relative;
    top:12px;
    margin:0 auto;
}
.navigation-header-right{
    position: relative;
    bottom:0px;
    text-align: right;
    background-color: blanchedalmond;  
   /*width:50%;
    /*left:50%;*/
   left:50px;
   top:90px;
   display:none;
}
.nav-links{
    display: block;
    color: palegreen;
    text-decoration: none;
}
.link-text{
    font-size: x-large;
}
.link-text:hover{
    border-top-style: solid;
    border-top-color: saddlebrown;
    color:saddlebrown;
}
}
@media only screen and (max-width: 440px){
    .navigation-header-right{
        left:0px;
        top:0px;
    }
}