.social_media{
    background-color: rgb(238, 202, 124);
    width:100%;
    height: 30px;
   
}
.top{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    /*padding-right: 25%;
    padding-left: 30%;*/
}
.top a{   
    margin: 0 5PX;
}
.home{
    text-align: center ;
}
.home_nav{
    
    background-color: white;
    width: 100%;
    height: 150px;
    border-bottom-style:solid ;
    border-bottom-color:black ;
    border-bottom-width: 1px;
/*}
.center{*/
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    /*padding-inline-start: 25%;
   padding-inline-end: 25%;*/
}
.home{
    width:30%;
    height: 150px ;
    
}
.nav{
    /*padding-right: 20%;
    background-color: hotpink;*/
    flex:1;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    text-align: center;
    /*justify-content: right;*/
   
}
.nav a{
   /* margin-left: 12%;*/
    flex: 1;
    font

}
/*#home{
    width:30%;
    height: 150px ;
}*/
.link{
    text-decoration: none;
    color: rgb(238, 202, 124);
}
.link:hover{
    border-top-style:solid ;
    border-top-color: gray;
}